.table {
	border:  solid 1px black;
	border-collapse: collapse;
	background-color: #AFCFEF;
	text-align: center;
}
.th {
	color: white;
	background-color: rgba(0,0,0,0.375);
}


.th, .td {padding: 4px;}

.table > tr:nth-child(even) {
	background-color: rgba(0,0,0,0.125);
}


.input {
	border-radius:4px;
	border: solid 1px rgba(0,0,0,0.5);
	padding: 2px 6px;
	background-color: rgba(255, 255, 255, 0.75);
	transition: all 0.25s ease;
}

.input:focus {
	background-color: rgba(255, 255, 255, 1);
}

.button {
	border-radius:4px;
	border: solid 1px rgba(0,0,0,0.5);
	padding: 2px 6px;
	background-color: rgba(255, 255, 255, 0.75);
	transition: all 0.25s ease;
}

.button:focus {
	background-color: rgba(255, 255, 255, 1);
}

.section {
	display: inline-block;
}

.btnGrp {
	padding: 2px;
	border-radius: 2px;
	border: solid 2px rgba(0,0,0,0.75);
	border-collapse: collapse;
	margin: 10px 0px;
	box-sizing: border-box;
}
.btnGrp > *{
	padding: 2px 6px;
	border-radius: 50px;
	margin: 2px 2px;
}

.label {
	display:block;
	font-size: medium;
	margin: 5px 2px;
	text-align: center;
}

.DownloadForm > label {
	text-align: left;
	display: inline-block;
}

.wide
{
	width: 100%;
}

.section {
	display: inline-block;
}

.large-checkbox {
   /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 5px;
}